# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

UPLOADTHING_TOKEN='something-cool'

POSTGRES_URL="postgres://something-cool"
POSTGRES_URL_NON_POOLING="postgre://something-cool"
POSTGRES_USER="something-cool"
POSTGRES_HOST="something-cool"
POSTGRES_PASSWORD="something-cool"
POSTGRES_DATABASE="something-cool"
POSTGRES_URL_NO_SSL="postgres://something-cool"
POSTGRES_PRISMA_URL="postgres://something-coole"

NEXT_PUBLIC_STACK_PROJECT_ID="something-cool"
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY="something-cool"
STACK_SECRET_SERVER_KEY="something-cool"

# Better Auth environment variables
BETTER_AUTH_SECRET="something-cool"
BETTER_AUTH_URL="http://something-cool"


GOOGLE_CLIENT_ID="something-cool"
GOOGLE_CLIENT_SECRET="something-cool"


NEXT_PUBLIC_BASE_URL="http://something-cool"




